<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="header">
</head>

<body>
    <div th:insert="headerImage"></div>
    <div th:insert="navBarTop"></div>
    <div th:insert="headerMessage"></div>
    
    <div class="box-body" style="padding-left: 400px ;height :80px ">
							<div class="row">
 								<div class="col-md-3"> 
 										<label><b> Select VRO : </b></label> 
 									<div class="col-md-7"> 
 										<div class="form-group" style="margin-bottom: 5px;"> 
 											<div class="input-group"> 
 												<select class="form-control" id="village" name="village" onchange="getData()" required> 
													<option value="" disabled selected>Select VRO</option>
 													<option th:each="list : ${list}" th:value="${list.userid}" 
 														th:text="${list.userid}" > 
 													</option> 
 												</select> 
 												<span id="dropdownError" style="color: red;"></span> 
 											</div> 
 										</div> 
 									</div> 
 								</div> 

    <div class="container-fluid header-design-login">
        <div  style="height: 10vh;padding-left: 15%;">
            <div class="webland-container" style="padding-top: 15px;">
                <div class="card ecropCard">
                    <div class="card-title">
                        <h5 style="text-align: center;">Update Profile for VRO</h5>
                    </div>
                    <div class="card-body" style="padding: 10px;">
                        <form name="f2" id="f2" th:action="@{/updateProfilesForVro}" method="post" onsubmit="return confirm()">
                            <div id="popupMessage" th:if="${msg != null}" class="alert alert-success">
                                <p th:text="${msg}"></p>
                            </div>
                            <div class="form-group row" th:style="'font-weight: bold;'">
                                <div class="col-sm-6">
                                    <span th:text="'UserId: ' + ' ' "></span>
                                </div>
<!--                                <div class="col-sm-6">-->
<!--                                    <span th:text="'Role: ' + ${role}">role:</span>-->
<!--                                </div>-->
                            </div>
                            <div class="form-group row">
                                <label for="name" class="col-sm-4 col-form-label">Name</label>
                                <div class="col-sm-8">
                                    <input type="text" id="name" name="name" class="form-control" readonly >
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="email" class="col-sm-4 col-form-label">Email</label>
                                <div class="col-sm-8">
                                    <input type="email" id="email" name="email" class="form-control" readonly >
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="mobile" class="col-sm-4 col-form-label">Mobile</label>
                                <div class="col-sm-8">
                                    <input type="text" data-type="mobileNo" name="mobile" id="mbNo" minlength="10" maxlength="10" readonly class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="aadhaar" class="col-sm-4 col-form-label">Aadhaar</label>
                                <div class="col-sm-8">
                                    <input type="text" data-type="maskid" id="maskedUid" name="maskedId" maxlength="12" required  class="form-control"
                                    onkeypress="return ( event.charCode == 8 || event.charCode == 0) || event.charCode == 46 ? null : event.charCode >= 48 && event.charCode <= 57 ">
                                    <input type="hidden" data-type="aadhaar" id="aadhaar" name="aadhaar" maxlength="12" required  class="form-control" readonly>
                                    <input type="hidden"  id="userId" name="userId" maxlength="12" required  class="form-control">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div style="margin: 0 auto; width: 155px; color: #000;">
                                        <button type="submit" class="btn btn-primary" id="add" title="Profile update">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script th:inline="javascript">
		function getData(){
		
		var userid = $("#village").val();
		
		
		
		$.ajax({
			type : "post",
			url: "./utilMro/updateProfileForVroajax?userid=" + userid ,
			contentType : 'application/json',
			cache: false,
			timeout: 600000,
			success: function (resp) {
		//		alert(JSON.stringify(resp))
				$('span:contains("UserId:")').text("UserId: " + resp.userid);
				$('#name').val(resp.name);
				$('#userId').val(resp.userid);
				$('#email').val(resp.emailid);
				$('#mbNo').val(resp.mobile_phone);
				$('#aadhaar').val(resp.aadhaar_id);
				$('#maskedUid').val(resp.aadhaar_id);
			}
		});
	}
		
		
        // multiplication table d
        var d = [
            [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
            [1, 2, 3, 4, 0, 6, 7, 8, 9, 5],
            [2, 3, 4, 0, 1, 7, 8, 9, 5, 6],
            [3, 4, 0, 1, 2, 8, 9, 5, 6, 7],
            [4, 0, 1, 2, 3, 9, 5, 6, 7, 8],
            [5, 9, 8, 7, 6, 0, 4, 3, 2, 1],
            [6, 5, 9, 8, 7, 1, 0, 4, 3, 2],
            [7, 6, 5, 9, 8, 2, 1, 0, 4, 3],
            [8, 7, 6, 5, 9, 3, 2, 1, 0, 4],
            [9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
        ];

        // permutation table p
        var p = [
            [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
            [1, 5, 7, 6, 2, 8, 3, 0, 9, 4],
            [5, 8, 0, 3, 7, 9, 6, 1, 4, 2],
            [8, 9, 1, 6, 0, 4, 3, 5, 2, 7],
            [9, 4, 5, 3, 1, 2, 6, 8, 7, 0],
            [4, 2, 8, 6, 5, 7, 3, 9, 0, 1],
            [2, 7, 9, 3, 8, 0, 6, 4, 1, 5],
            [7, 0, 4, 6, 9, 1, 3, 2, 5, 8]
        ];

        function mod(num, divisor) {
            return ((num % divisor) + divisor) % divisor;
        }

        function validateVerhoeff(num) {
            var c = 0;
            var myArray = StringToReversedIntArray(num);

            for (var i = 0; i < myArray.length; i++) {
                c = d[c][p[mod(i, 8)][myArray[i]]];
            }

            return (c == 0);
        }

        function StringToReversedIntArray(num) {
            var myArray = [];
            for (var i = 0; i < num.length; i++) {
                myArray[i] = parseInt(num.charAt(i));
            }
            return myArray.reverse();
        }

        function isNumberKey(evt) {
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            return (charCode >= 48 && charCode <= 57) || charCode === 46 || charCode === 8;
        }

        function confirm() {
            var mobile_phone = document.getElementById("mbNo").value;
            var email = document.f2.email.value;
            var aadhaar = document.f2.aadhaar.value;
            var selectedUid = document.getElementById("maskedUid").value;

            aadhaar = selectedUid;

            if (mobile_phone.length !== 10) {
                alert("Invalid Mobile ");
                document.f2.mbNo.focus();
                return false;
            }

            var emailInput = document.getElementById("email");
            var emailValue = emailInput.value.trim();

            if (emailValue === "") {
                alert("Email must be filled out");
                return false;
            }

            if (aadhaar.length !== 12) {
                alert("Please Enter 12 Digit Aadhaar");
                document.f2.aadhaar.focus();
                return false;
            }

            if (validateVerhoeff(aadhaar)) {
                return true;
            } else {
                alert("Invalid Aadhar");
                document.f2.aadhaar.focus();
                return false;
            }
        }

        setTimeout(function() {
            document.getElementById('popupMessage').style.display = 'none';
        }, 4000);
    </script>
</body>
</html>
