<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="header">
	<link rel="stylesheet" type="text/css" href="css/style.css" />

	<meta charset="UTF-8">
	<title>Mandal Wise Indents Updation</title>

</head>

<body>
	<div th:insert="headerImage"></div>

	<div th:insert="navBarTop"></div>
	<div th:insert="headerMessage"></div>
	
	
	<div style="background-color: green; text-align: center;font-size: large;font-weight: bolder;width: 50%;margin-left: 25%;color: white;">
		Mandal Wise Indents Updation
	</div>
<br>
	<div style="background-color: floralwhite; height: 150px; text-align: center;margin-left: auto; margin-right: auto; width: 60%;">
		<pre style="font-size: large; font-family: sans-serif;text-align: center;">
	  Target Indent Seed Variety: <span style="color: green;font-weight: bold;"
					th:text="${seed}"></span>  Crop Year: <span  style="color: green;font-weight: bold;"
					th:text="${cropYear}"></span> , Season: <span  style="color: green;font-weight: bold;" 
					th:text="${season} == 'K' ? 'Kharif' : (${season} == 'R' ? 'Rabi' : 'Summer')"></span>
				<span style="margin-top:1%;font-weight: bold;margin-left: 0%;margin-right: 13%;">	(Quantity in Quintals)</span>
			<br>  <span style="margin-top:1%;margin-left: 0%;margin-right: 0%;padding-left: 12%;">	   District Maximum Target: <span  style="color: green;font-weight: bold;"
					th:text="${districtQuant}"></span> 				 </span>
	</pre>
		
	</div>

	<br>
	<form id="updationForm" >


		<div style="background-color: ghostwhite; margin-left: auto; margin-right: auto; width: 60%;">

			<table style="width: 100%; border-collapse: collapse;">
				<thead style="background-color: darkgray; color: white; width: 100%;">

					<tr>
						<!--						<span th:utext="${msg}"></span>-->
						<th style="padding: 10px; padding-left: 50px; text-align: left;"><input id="main"
								type="checkbox"></th>
						<th style="padding: 10px; text-align: right">SNO</th>
						<th style="padding: 10px; padding-left: 50px; text-align: center">Mandal Name</th>
						<th style="padding: 10px; padding-left: 50px; text-align: center">Allocated Qty At VAA</th>
						<th style="padding: 10px; padding-left: 50px; text-align: center">Existing Target</th>
						<th style="padding: 10px; padding-left: 50px; text-align: center">Additional Target</th>
						<th style="padding: 10px; padding-left: 50px; text-align: center">Total Target</th>
					</tr>
				</thead>
				<h2 style="text-align: center;">
					<span th:text="${empty}"></span>
					<tbody style="width: max-content;">

						<tr th:each="item : ${list}">
							<td style="padding: 10px; padding-left: 50px;"><input type="checkbox" class="sub-checkbox"
									name="sub-checkbox" style="padding: 10px; padding-left: 50px;"></td>
							<td style="padding: 10px; text-align: right;" th:text="${itemStat.index + 1}"></td>
							<td style="padding: 10px; padding-left: 100px;" th:text="${item.getMname()}"> </td>
							<td style="padding: 10px; padding-left: 100px;" th:text="${product}" th:value="${product}"> </td>
							<td style="padding: 10px; padding-left: 100px;" th:text="${item.getQuantity()}"> </td>
							<input type="hidden" th:value="${item.getMcode()}" th:id="mcode" th:name="mcode">
							<input type="hidden" th:value="${varietycode}" th:id="varietycode" th:name="varietycode">
							<input type="hidden" th:value="${item.getMname()}" th:id="mname" th:name="mname">
							<input type="hidden" th:value="${item.getQuantity()}" th:id="quantity" th:name="quantity">
							<input type="hidden" th:value="${product}" th:id="product" th:name="product">
							<td><input style="padding: 10px; padding-left: 100px; height: 30px;" class="input-field"
									 disabled  th:id="additional" th:name="additional"
									oninput="return sumTotal(this,event) "
									 pattern="^-?\d{1,6}(\.\d{0,2})?$"  required maxlength="8">
									 <input type="hidden" th:id="districtQuant" th:name="districtQuant" th:value="${districtQuant}">
							</td>
							<td  th:text="${product} + ${item.getQuantity()}" th:id="totVal" th:name="totVal" style="text-align: center;" class="totVal" readonly >
							</td>
						</tr>

					</tbody>
					<tfoot>
						<tr style="margin-top: 100px;">
							<bR>
							<td style="padding-left: 40%;"><input type="submit" class="btn btn-primary" value="Submit"
									onclick="submitData()"></td>
							<td style="padding-left: 45%;"><input type="button" class="btn btn-primary" value="Go Back"
									onclick="goBack()"></td>
						</tr>

					</tfoot>
			</table>
		</div>
	</form>

	<script type="text/javascript">

		$(document).ready(function () {
			// Set CSRF token in AJAX requests
			var token = $("meta[name='_csrf']").attr("content");
			var header = $("meta[name='_csrf_header']").attr("content");

			$(document).ajaxSend(function (e, xhr, options) {
				xhr.setRequestHeader(header, token);
			});
		});

	</script>
	<script>
		
		var totalAdditionalSum = 0;
function sumTotal(inputElement, event){
 var row = $(inputElement).closest('tr');
  var quantity = parseFloat(row.find('input[name="quantity"]').val()) || 0;
    var product = parseFloat(row.find('input[name="product"]').val()) || 0;
        var inputValue = $(inputElement).val();
   //     var regex = /^[0-9]*\.?[0-9]*$/;
     var regex = /^-?\d*\.?\d*$/;
    if (!regex.test(inputValue)) {
        if (event && event.charCode === 8 || event.charCode === 46) {
            return;
        }
        alert("Enter only numeric values.");
        $(inputElement).val(inputValue.slice(0, -1)); 
        return;
    }
     var additional = parseFloat(inputValue) || 0;
        var sum = quantity + product + additional;
        
          if (sum < 0) {
            alert("The sum of Existing Target and Additional Target cannot be less than 0.");
            $(inputElement).val('');  // Clear the additional value
            row.find('.totVal').text((quantity + product).toFixed(2));  // Reset the total
            return;
        }

        row.find('.totVal').text(sum.toFixed(2));
        
         updateTotalSum();
    var districtQuant = parseFloat(row.find('[name="districtQuant"]').val()) || 0;

    if (eval(totalSum) > eval(districtQuant)) {
        alert("Additional Target Cannot Exceed The Total" + districtQuant + " Quintals.");
        $(inputElement).val(''); 
     //   updateTotalSum(); 
     	$('#totVal').text(quantity.toFixed(2));  
        return;
    }
	  
}

function updateTotalSum() {
    totalSum = 0;

  
    $('tr').each(function () {
        var rowTotal = parseFloat($(this).find('.totVal').text()) || 0;
        totalSum += rowTotal;
    });

   
    $('#totalSumDisplay').text(totalSum.toFixed(2));  
}

		function goBack() {
			window.location.href = "./indentsupdationMandal";
			window.history.back();
		}
		function submitData() {
			var rows = document.querySelectorAll('tbody tr');
			var isValid = true;
			let checkboxes = document.querySelectorAll('.sub-checkbox:checked');
			let records = document.querySelectorAll('.sub-checkbox');
			if (checkboxes.length === 0) {
		//		alert('No Data is Being Updated');
				isValid = false;
				return false;
			}
			if (records.length === 0) {
			//	alert('No Data is Being Updated');
				isValid = false;
			}

			rows.forEach(function (row) {
				var inputField = row.querySelector('[name="additional"]');
				var checkbox = row.querySelector('[name="sub-checkbox"]');
				var pattern = /^-?\d{1,6}(\.\d{0,2})?$/;
				if (checkbox.checked) {
					if (inputField.value === '' || inputField.value === null || !pattern.test(inputField.value) || inputField.value =='-') {
						alert('Please enter a valid Quantity for the Mandal : ' + row.querySelector('[name="mname"]').value);
						isValid = false;
					}
				}
			});

			if (isValid) {
				alert('Data is submitted Successfully');
			}
		}
		document.getElementById('main').addEventListener('change', function () {
			var checkboxes = document.querySelectorAll('.sub-checkbox');
			checkboxes.forEach(function (checkbox) {
				checkbox.checked = document.getElementById('main').checked;
				updateInputState(checkbox);
			});
		});

		var checkboxes = document.querySelectorAll('.sub-checkbox');
		checkboxes.forEach(function (checkbox) {
			checkbox.addEventListener('change', function () {
				updateInputState(checkbox);
			});
		});

		var inputFields = document.querySelectorAll('.input-field');
		inputFields.forEach(function (input) {
			input.addEventListener('input', function () {
			});
		});

		function updateInputState(checkbox) {
			var inputBox = checkbox.closest('tr').querySelector('.input-field');
			inputBox.disabled = !checkbox.checked;
		}


		document.getElementById('updationForm').addEventListener('submit', function (event) {
			var formDataArray = [];
			

			document.querySelectorAll('tbody tr').forEach(function (row) {
					let checkboxes = document.querySelectorAll('.sub-checkbox:checked');
				var checkbox = row.querySelector('.sub-checkbox');
				var inputField = row.querySelector('.input-field');
				if (checkbox.checked) {

					var mcode = row.querySelector('[name="mcode"]');
					var varietycode = row.querySelector('[name="varietycode"]');
					formDataArray.push({
						mcode: mcode.value,
						varietycode: varietycode.value,
						quantity: parseFloat(inputField.value) || 0,
					});

				}
				
				
				
			});
			
			
			goBack();

			console.log('FormDataArray:', formDataArray);
			$.ajax({
				url: './indentsUpdationDataSubmitMandal',
				type: 'POST',
				contentType: 'application/json;',
				data: JSON.stringify(formDataArray),
				success: function (data) {
					console.log('Success:', data);
				},
				error: function (error) {
					console.error('Error during fetch operation:', error);
				}
			});
		});


	</script>
</body>

</html>