<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
<!-- 	<title></title> -->

	<head th:insert="header"></head>
	<div th:insert="headerImage"></div>
	<div th:insert="navBarTop"></div>
	<div th:insert="headerMessage"></div>
<!--	<script src="./js/jquery.js"></script>-->
<!--	<script src="./js/jquery-ui.js"></script>-->
<!--	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>-->
<!--	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">-->
<!--	<script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>-->
<!--	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>-->
<!--	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>-->
<!--	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>-->

	<script>
		function CallPrint(strid) {
			var prtContent = document.getElementById(strid);
			var mywindow = window.open('', '', 'left=0,top=0,width=950,height=600,toolbar=1,scrollbars=1,status=1,addressbar=0');
			var is_chrome = Boolean(mywindow.chrome);
			var title = document.getElementById('printTitle').innerText;
			var reportTime = document.getElementById('theDate').innerText;
			var headingContent = document.getElementById('heading').innerText;

			mywindow.document.write('<html><head><title>Print</title>');
			mywindow.document.write('<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">');
			mywindow.document.write('<style>');
			mywindow.document.write('table { width: 100%; border-collapse: collapse; }');
			mywindow.document.write('h5 { text-align: center; }');
			mywindow.document.write('.table { overflow-x: scroll; overflow-y: scroll; max-width: 100%; max-height: 50.5vh; }');
			mywindow.document.write('</style>');
			mywindow.document.write('</head><body>');
			mywindow.document.write('<div style="text-align: center; margin-bottom: 20px;">');
			mywindow.document.write('<h1>' + title + '</h1>');
			mywindow.document.write('<p><b>Report Time:</b> ' + reportTime + '</p>');
			mywindow.document.write('<h5>' + headingContent + '</h5>');
			mywindow.document.write('</div>');
			mywindow.document.write('<table class="table table-hover table-striped">');
			mywindow.document.write(prtContent.innerHTML);
			mywindow.document.write('</table>');
			mywindow.document.write('</body></html>');
			mywindow.document.close();

			if (is_chrome) {
				mywindow.onload = function () {
					mywindow.focus();
					mywindow.print();
					mywindow.close();
				};
			} else {
				mywindow.onload = function () {
					mywindow.focus();
					mywindow.print();
					mywindow.close();
				};
			}

			return true;
		}
	</script>

	<script language="javascript">
		var tableToExcel = (function () {
			var uri = 'data:application/vnd.ms-excel;base64,'
				, template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--></head><body><table align="center">{table}</table></body></html>'
				, base64 = function (s) {
					return window.btoa(unescape(encodeURIComponent(s)))
				}
				, format = function (s, c) {
					return s.replace(/{(\w+)}/g, function (m, p) {
						return c[p];
					})
				}
				, sanitizeText = function (text) {
					return text.replace(/\s+/g, ' ').trim();
				}
			return function (table, name) {
				if (!table.nodeType)
					table = document.getElementById(table)

				var title = sanitizeText(document.getElementById('printTitle').innerText);
				var reportTime = sanitizeText(document.querySelector('span#theDate').innerText);
				var headingContent = sanitizeText(document.querySelector('h5#heading').innerText);
				var additionalHeading = `
		                    <tr><th colspan="8" style="text-align: center; font-size: 20px; font-weight: bold;">${title}</th></tr>
		                    <tr><th colspan="8" style="text-align: center; font-size: 15px; font-weight: bold;">Report Time: ${reportTime}</th></tr>
		                    <tr><th colspan="8" style="text-align: center; font-size: 15px; font-weight: bold;">${headingContent}</th></tr>
		                `;
				var tableHTML = additionalHeading + table.innerHTML;
				var ctx = {worksheet: name || 'Worksheet', table: tableHTML}
				window.location.href = uri + base64(format(template, ctx))
			}
		})();
function goBack(){
window.location.href="./home"}
	</script>
	<style>
		#tableStkId thead {
			position: -webkit-sticky;
			position: sticky;
			top: 0;
			z-index: 2;
		}

		#tableStkId th,
		#tableStkId td {
			padding: 8px;
			text-align: center;
		}
	</style>
	<style>
		#ObjEntryTable {
			border-collapse: separate;
			border-spacing: 0 0.5em;
		}
	</style>
	
</head>
<script>
	$(document).ready(function () {
		$("#loadingsign").show();
		var currentDate = new Date();
		var formattedDate = currentDate.toLocaleString();
		$("#theDate").text(formattedDate);
		var inputwbedname = $("#inputwbedname").val().replace(/Â/g, ' ').trim();
		var dcode = $("#dcodee").val();
		$.ajax({
			type: "get",
			url: "./util/vaadet?dcode=" + dcode,
			cache: false,
			timeout: 600000,
			success: function (resp) {
				$("#loadingsign").hide();
				$("#databody").empty();
				$("#heading").empty();
				if (resp.length === 0) {
					$("#databody").append(
						'<tr><td colspan="5">No results found</td></tr>');
					return;
				}
// 				$("#heading").append('<tr style="font-size:22px;">'
// 					+ '<td style="font-weight: 100"><b>District: ' + inputwbedname + '&nbsp;&nbsp;&nbsp;</b></td>'
// 					+ '</tr>');
				var sno = 0;
				for (var j = 0; j < resp.length; j++) {
					sno = sno + 1;
					var bean = resp[j];
					$("#databody").append('<tr style="fontsize:200px; font-weight: 0;">'
						+ '<td>' + sno + '</td>'
						+ '<td style="text-align:left">' + bean.districtname + '</td>'
						+ '<td style="text-align:left">' + bean.mandalname + '</td>'
						+ '<td style="text-align:left">' + bean.villagename + '</td>'
						+ '<td style="text-align:left">' + bean.userid + '</td>'
						+ '<td style="text-align:left">' + bean.name + '</td>'
						+ '<td align="center">' + bean.mobile_phone + '</td>'
						+ '<td style="text-align:left">' + bean.emailid + '</td>'
						+ '<td align="center">' + bean.status + '</td>'
						+ '</tr>');
				}
			}
		});
	});
</script>
<style>
	#ObjEntryTable {
		border-collapse: separate;
		border-spacing: 0 0.5em;
	}
</style>

<body>
	<div class="heading" colspan="20" style="text-align:center;font-size:25px;">
		<h3 id="printTitle">User Registration Details For ECrop Booking</h3>
	</div>
	<p th:text="${msg}"></p>
	<input type="hidden" id="inputwbedname" th:value="${wbedname}" />
	<input type="hidden" id="dcodee" th:value="${#session.getAttribute('dcode')}" />
	<input type="hidden" id="inputuserid" th:value="${#session.getAttribute('userid')}" />
    <div id="loadingsign">
		<div class="d-flex justify-content-center">
			<div class="spinner-border" role="status">
				<span class="sr-only">Loading...</span>
			</div>
		</div>
	</div>
   <div style="text-align:center;">
		<h5 id="heading" style="margin: 0;"></h5>
		<div style="margin-left: 10px;">
			<b>Report Time:</b> <span id="theDate"></span>
		</div>
	</div>
	<form id="unlockreport" name="unlockreport" method="post">
		<div align="center" id="divPrint" class="table table-hover table table-striped"
			>
			<table id="tableStkId" align="center" style=" text-align: center;">
				<thead>
					<tr>
							<th> <b> S.No. </b> </th>
							<th> <b> District </b> </th>
							<th> <b> Mandal </b> </th>
							<th> <b> RSK </b> </th>
							<th> <b> User Id </b> </th>
							<th> <b> RSK Name </b> </th>
							<th> <b> Phone </b> </th>
							<th> <b> e-Mail Id </b> </th>
							<th> <b> Status </b> </th>
						</tr>
					</thead>
					<tbody id="databody">
					</tbody>
				</table>
			</div>
		</form>
		<div align="center" style="color:black;margin-top: 20px;">
			<input class="btn btn-success" name="ctl00$ContentPlaceHolder1$btnPrint" type="button"
				id="ctl00_ContentPlaceHolder1_btnPrint" onClick="javascript:CallPrint('divPrint')" value="Print">
			<input class="btn btn-success" type="button" onclick="tableToExcel('tableStkId', 'Abstract')" value="Excel">
			<input class="btn btn-success" type="button" onclick="goBack()" value="Back">
		</div>
		</div>
</body>

</html>