<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
    <div class="collapse navbar-collapse" id="navbarNav" style="color: white;">
                        <ul class="navbar-nav custom-flexbox">
                            <li class="nav-item active">
                                <a href="#">Home <span class="active"></span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link dropdown-toggle text-white" href="#" id="reportsDropdown"
							data-bs-toggle="dropdown">
Reports</a>
                                <ul class="dropdown-menu" aria-labelledby="reportsDropdown">
							<li><a class="dropdown-item" href="crbookingabsIntf">District Wise Abstract on Extent Booked</a></li>
							
<!--							                                    <li><a class="dropdown-item" href="#">District Wise Status Report for All Crops </a></li>-->
							<li><a class="dropdown-item" href="stateWiseCropNames">State Wide Crop Report</a></li>
							<li><a class="dropdown-item" href="cropnamesPB">List of Perennial/Biennial Crops</a></li>
						</ul>

                            </li>
<!--                            <li class="nav-item">-->
<!--                                <a href="https://app.powerbi.com/view?r=eyJrIjoiZDFlOGYwMTgtYjc2Mi00N2QxLWJhNDUtZjY4ZTc2YWFjZGJmIiwidCI6IjAxMGNhZDhjLWM1MzYtNGZkZi1iZmQxLTU0MWM4Y2NjNDhhNiJ9">Dashboard</a>-->
<!--                            </li>-->
                        </ul>
                    </div>
</body>
</html>