<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="header">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Aadhaar Updation</title>
</head>

<body>
	
		<div th:insert="headerImage"></div>

	<div th:insert="navBarTop"></div>
	<div th:insert="headerMessage"></div>
	<br><br><br><br>
	<div style="text-align: center;color: green;font-size: xx-large;">
		Data Saved Successfully
	</div>
	
</body>

</html>